/* ********************************************************** */
/* ------------------ ABOUT SECTION -------------------- */
.section-about {
    padding: 9.6rem 0;
}

.step-number {
    font-size: 9.8rem;
    font-weight: 700;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.8rem;
    line-height: var(--line-height-paragraph);
}

.step-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-img-box::before,
.step-img-box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 50%;
}

.step-img-box::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: var(--primary-ghost);
    z-index: -2;
}

.step-img-box::after {
    width: 50%;
    padding-bottom: 50%;
    background-color: var(--primary-ghost-2);
    z-index: -1;
}

.step-img {
    width: 35%;
}