/* ********************************************************** */
/* ------------------ NAVIGATION -------------------- */
.main-nav-list {
    list-style: none;
    display: flex;
    gap: var(--margin-md);
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.8rem;
    color: #333;
    transition: 0.3s;
}

.main-nav-link.text:focus {
    outline: none;
    box-shadow: -1rem 1.2rem 0px -7px var(--primary-50), 1rem 1.2rem 0px -7px var(--primary-50) !important;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: var(--primary-dark);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: var(--default-radius);
    background-color: var(--primary);
    color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: var(--primary-dark);
}