/* ********************************************************** */
/* ------------------ PRICING SECTION -------------------- */
.section-pricing {
    padding: var(--margin-lg) 0;
}

.pricing-plan {
    border-radius: var(--default-radius);
    padding: var(--margin-md);
    width: 75%;
}

.pricing-plan--starter {
    justify-self: end;
    border: 2px solid var(--primary-ghost);
    padding: calc(var(--margin-md) - 2px);
}

.pricing-plan--complete {
    background-color: var(--primary-ghost);
    position: relative;
    overflow: hidden;
}

.pricing-plan--complete::after {
    content: "Best Value";
    position: absolute;
    top: 6%;
    right: -18%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    transform: rotate(45deg);
    background-color: #ffd43b;
    padding: 0.8rem 8rem;

}

.plan-header {
    text-align: center;
    margin-bottom: var(--margin-md);
}

.plan-name {
    color: var(--primary);
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-md);
    margin-bottom: 3.2rem;
}

.plan-price {
    font-size: 6.2rem;
    font-weight: 700;
    columns: #333;
    margin-bottom: 1.6rem;
}

.plan-price span {
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}

.plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.plan-sign-up {
    text-align: center;
    margin-top: 4.8rem;

}

.plan-details {
    font-size: 1.6rem;
    line-height: var(--line-height-paragraph);
    text-align: center;

}

.feature-icon {
    color: var(--primary);
    height: 3.2rem;
    width: 3.2rem;
    margin-bottom: 3.2rem;
    background-color: var(--primary-ghost);
    border-radius: 50%;
    padding: 1.6rem;
}

.feature-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.feature-content {
    font-size: 1.8rem;
    line-height: var(--line-height-paragraph);
}