/* ********************************************************** */
/* ------------------ HEADER -------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-ghost);
    height: 9.6rem;
    padding: 0 var(--margin-md);
}

.logo {
    height: 5rem;
}

/* ********************************************************** */
/* ------------------ NAVIGATION -------------------- */
.main-nav-list {
    list-style: none;
    display: flex;
    gap: 3.2rem;
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.8rem;
    color: #333;
    transition: 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: var(--primary-dark);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: var(--default-radius);
    background-color: var(--primary);
    color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: var(--primary-dark);
}

/* ********************************************************** */
/* ------------------ ABOUT SECTION -------------------- */
.section-about {
    padding: 9.6rem 0;
}

.step-number {
    font-size: 9.8rem;
    font-weight: 700;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.8rem;
    line-height: var(--line-height-paragraph);
}

.step-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-img-box::before,
.step-img-box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 50%;
}

.step-img-box::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: var(--primary-ghost);
    z-index: -2;
}

.step-img-box::after {
    width: 50%;
    padding-bottom: 50%;
    background-color: var(--primary-ghost-2);
    z-index: -1;
}

.step-img {
    width: 35%;
}


/* ********************************************************** */
/* ------------------ FEATURED SECTION -------------------- */

.section-featured {
    padding: var(--margin-md) 0 3.2rem 0;
}

.heading-featured {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-md);
    font-weight: 700;
    text-align: center;
    margin-bottom: var(--margin-sm);
    color: #777;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logos img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}

/* ********************************************************** */
/* ------------------ TEAS SECTION -------------------- */
.section-teas {
    padding: 9.6rem 0;
}

.tea {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: var(--default-radius);
    overflow: hidden;
    transition: all 0.4s;
}

.tea:hover {
    transform: translateY(-1rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.tea-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: 50% 70%;
}

.tea-tags {
    margin-bottom: 1.6rem;
    display: flex;
    gap: 0.4rem;
}

.tea-tag {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #ca5702;
    color: #fff;
    letter-spacing: var(--letter-spacing-md);
    font-weight: 600;
    border-radius: 50px;
}

.tag--leaves {
    background-color: #4f9749;
}

.tag--limited {
    background-color: rgb(255, 217, 0);
    color: #333;
}

.tea-title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: var(--margin-sm);
}

.tea-attributes {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tea-content {
    padding: var(--margin-md);
    padding-top: 3.2rem;
}

.tea-attributes li {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.tea-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: var(--primary);
}

.diet-list {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.diet-list li {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.list-icon {
    width: 3rem;
    height: 3rem;
    color: var(--primary);
}

.all-teas {
    text-align: center;
    font-size: 1.8rem;
}

.link:link,
.link:visited {
    display: inline-block;
    color: var(--primary);
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid currentColor;
    transition: all 0.3s;
}

.link:hover,
.link:active {
    color: var(--primary-dark);
    border-bottom: 1px solid transparent;
}