/* ********************************************************** */
/* ------------------ HEADER -------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-ghost);
    height: 9.6rem;
    padding: 0 var(--margin-md);
}

.logo {
    height: 5rem;
}

/* ********************************************************** */
/* ------------------ FEATURED SECTION -------------------- */

.section-featured {
    padding: var(--margin-md) 0 3.2rem 0;
}

.heading-featured {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-md);
    font-weight: 700;
    text-align: center;
    margin-bottom: var(--margin-sm);
    color: #777;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logos img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}

/* ********************************************************** */
/* ------------------ FOOTER SECTION -------------------- */

.footer {
    padding: var(--margin-lg) 0;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: block;
    margin-top: -1rem;
    margin-bottom: var(--margin-sm);
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.footer-link ion-icon {
    height: 2.4rem;
    width: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    color: #767676;
    line-height: var(--line-height-paragraph);
    margin-top: auto;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    margin-bottom: 4rem;
    line-height: var(--line-height-paragraph);
}

.contacts p:first-child {
    margin-bottom: 2.4rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
    font-size: 1.6rem;
    text-decoration: none;
    color: #767676;
}

.footer-link:hover,
.footer-link:active {
    color: #555;
}